
@using Ecommerce.WebAssembly.Shared



@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@* Se debe configurar las propiedades para que funcione  *@
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<NavMenu />

<div class="container body-content">
    @Body
</div>




